/.idea/
/node_modules/
/frontend/node_modules/
/.next/
/frontend/.next/
/dist/
/backend/target/
/backend/build/
/.gradle/
/.env
/frontend/.env
/prisma/dev.db
/frontend/prisma/dev.db
/storage/
/frontend/storage/
*.tsbuildinfo
/llamalib/target/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
